<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.windroilla.invoker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk android:minSdkVersion="14" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:name="com.windroilla.invoker.gcm.permission.C2D_MESSAGE"
            android:protectionLevel="signature" />

    <uses-permission android:name="com.windroilla.invoker.gcm.permission.C2D_MESSAGE" />

    <application
        android:name=".InvokerApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HelperActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".InstituteActivity"
            android:label="@string/title_activity_institute"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CourseActivity"
            android:label="@string/title_activity_course"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BlockTimeActivity"
            android:label="@string/title_activity_block_time"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <provider
            android:name=".data.BlocktimeProvider"
            android:authorities="@string/content_authority"
            android:exported="false"
            android:syncable="true" />
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.windroilla.invoker.gcm" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.windroilla.invoker.gcm.MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.windroilla.invoker.gcm.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <service
            android:name="com.windroilla.invoker.gcm.RegistrationIntentService"
            android:exported="false">
        </service>

    </application>

</manifest>
